.el-card.card-wrapper{
    border:0;

    .el-card__header{
        color:#fff;
        background-color:#304155;
    }
    .el-card__body{
        box-sizing: border-box;
        overflow: auto;

        &.h-100{
            height:100%;
        }

        & > .content{
            height:100%;
        }
    }
}